@page "/emotedetail/{EmoteId}"
@inject NavigationManager NavigationManager;


<section class="employee-detail">
    <h1 class="page-title">Details for @Emote.Name</h1>
    <br />
    <div class="col-12 row">
        <div class="col-2 text-center">
            <img src="@Emote.ImageName" class="img-fluid rounded mx-auto d-block" alt="Emote Image">
        </div>
        <a class="editBtn" href="@($"/emoteedit/{Emote.EmoteId}")">
            <svg height="1em" viewBox="0 0 512 512">
                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
            </svg>
        </a>
        <button class="buttonOptCards buttonOptCards-save" @onclick="DownloadImage">Download</button>
        <button class="buttonOptCards buttonOptCards-save" @onclick="OpenModal">Historial</button>
        <PopUpHistory EmoteId="selectedEmoteId" IsVisible="showModal" OnClose="HandleModalClose" />
        <button class="buttonOptCards" @onclick="@(() => NavigationManager.NavigateTo($"/emotes"))">Emotes</button>
        <div class="col-10 row">
            <div class="col-12 col-xxl-8">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Emote ID</label>
                    <div class="col-sm-8">
                        <label type="text" class="form-control-plaintext">@Emote.EmoteId</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Name</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Description</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Creation Date</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.CreationDate.ToShortDateString()</label>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Weight</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Weight</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">User</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@User.UserName</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Width</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Width</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Height</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Height</label>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Version</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Version</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Status</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.Status</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Approved</label>
                    <div class="col-sm-8">

                        @if (Emote.Approved)
                        {
                            <label type="text" readonly class="form-control-plaintext">Yes</label>
                        }
                        else
                        {
                            <label type="text" readonly class="form-control-plaintext">No</label>

                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Downloads</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Emote.NumDownload</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xxl-4">
            </div>
        </div>
    </div>
    <div class="feedback-section">
        <h3>Comentarios</h3>
        <button class="bookmarkBtn" @onclick="OpenCommentModal">
            <span class="IconContainer">
                <svg fill="white" viewBox="0 0 512 512" height="1em"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
            </span>
            <p class="textComment">Comentar</p>
        </button>
        @if (isCommentModalVisible)
        {
            <div class="overlayPopUp">
                <CommentModal EmoteId="@EmoteId" IsVisible="@isCommentModalVisible" OnSubmit="@HandleSubmitComment" OnClose="@CloseCommentModal" />
            </div>
        }
        @if (FeedbackList.Count() == 0)
        {
                <div class="centered-text">
                    <p>¡Escribe el primer comentario!</p>
                </div>
        }
        else
        {
            @foreach (var feedback in FeedbackList)
            {
                <div class="feedback-item">
                    <p>@feedback.Content</p>
                    <div class="containerComments">
                        <button class="likeButton" @onclick="() => Vote(feedback.FeedbackId, true)">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="100"
                                 height="100"
                                 viewBox="0 0 24 24"
                                 class="bin">
                                <path d="M20 8h-5.612l1.123-3.367c.202-.608.1-1.282-.275-1.802S14.253 2 13.612 2H12c-.297 0-.578.132-.769.36L6.531 8H4c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h13.307a2.01 2.01 0 0 0 1.873-1.298l2.757-7.351A1 1 0 0 0 22 12v-2c0-1.103-.897-2-2-2zM4 10h2v9H4v-9zm16 1.819L17.307 19H8V9.362L12.468 4h1.146l-1.562 4.683A.998.998 0 0 0 13 10h7v1.819z"></path>
                            </svg>
                        </button>
                        <p>@feedback.Upvotes</p>
                        <button class="dislikeButton" @onclick="() => Vote(feedback.FeedbackId, false)">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="100"
                                 height="100"
                                 viewBox="0 0 24 24"
                                 class="bin">
                                <path d=" M20 3H6.693A2.01 2.01 0 0 0 4.82 4.298l-2.757 7.351A1 1 0 0 0 2 12v2c0 1.103.897 2 2 2h5.612L8.49 19.367a2.004 2.004 0 0 0 .274 1.802c.376.52.982.831 1.624.831H12c.297 0 .578-.132.769-.36l4.7-5.64H20c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-8.469 17h-1.145l1.562-4.684A1 1 0 0 0 11 14H4v-1.819L6.693 5H16v9.638L11.531 20zM18 14V5h2l.001 9H18z"></path>
                            </svg>
                        </button>
                        <p>@feedback.Downvotes</p>
                    </div>
                    @* <button @onclick="() => Vote(feedback.FeedbackId, false)"> *@

                    <button class="deleteButton" @onclick="() => DeleteFeedback(feedback.FeedbackId)">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 50 59"
                             class="bin">
                            <path fill="#B5BAC1"
                                  d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z"></path>
                            <path fill="#B5BAC1"
                                  d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z"></path>
                            <path fill="#B5BAC1"
                                  d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z"
                                  clip-rule="evenodd"
                                  fill-rule="evenodd"></path>
                            <path d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                        </svg>
                    </button>
                </div>
            }
        }
    </div>
</section>